<div class="icons">
    <a href="#" target="_blank"><span class="flaticon-001-facebook"></span></a>
    <a href="#" target="_blank"><span class="flaticon-002-twitter"></span></a>
    <a href="#" target="_blank"><span class="flaticon-011-instagram"></span></a>
    <a href="#" target="_blank"><span class="flaticon-010-linkedin"></span></a>
    <a href="#" target="_blank"><span class="flaticon-008-youtube"></span></a>
</div>