<nav>
    <section class="nav-logo-container">
        <h2 class="frase-main"> <u> Gracias por elegirnos!! </u></h2>
    </section>
    <section class="profile-link">
         <a href="perfil.html">Sobre mi</a>
     </section>
</nav>