<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mi Blog</title>
    <link rel="stylesheet" href="./css/main.css">
    <link rel="stylesheet" href="./css/font/flaticon.css">
    <link rel="stylesheet" href="./css/media-queries.css">
  </head>
  <body>
    <header>
      <section class="header-icons-container">
        <!---iconos de redes sociales--->
            {{> iconos}}
      </section>
      <nav>
        <section class="nav-logo-container">
          <!--- nav--->
            {{> Nav}}
        </section>
      </nav>
    </header>

    <main>
      <section class="grid-container blogpost-img-container">
        <img src="./img/foto-blog.jpg" alt="" />
      </section>
      <section class="blogpost-main-container">
        <div class="grid-container-blog">
          <h3>Noticias</h3>
          <article>
            <h1>Titulo del Blogpost</h1>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat et dolore magni blanditiis iste ullam. Reprehenderit
              blanditiis nisi aliquam quasi optio necessitatibus laboriosam quidem. Accusamus maxime dicta quas neque suscipit?
            </p>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem omnis similique cumque a atque, porro reprehenderit
              dolore eveniet ad tenetur vero quaerat adipisci, molestias magnam ducimus in harum aperiam! Blanditiis. Lorem ipsum dolor sit,
              amet consectetur adipisicing elit. Facere, fugit quam. Ut dolorem magnam delectus consectetur voluptate quas optio earum
              exercitationem quam, id incidunt molestiae, illum sit saepe, nobis dolor!
            </p>
            <p>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Autem rem repellendus pariatur, minima ut voluptatibus vitae harum
              eligendi praesentium aliquid nam, quis, voluptatem aliquam veritatis? Neque porro vel minus similique.
            </p>
          </article>
        </div>
      </section>
      <section class="contact-main-container">
        <div class="contact-left">
          <img src="./img/013-newsletter.png" alt="" />
          <div class="left">
            <a href="">Contacto</a>
            <p>
              Texto de intro. Lorem ipsum dolor sit amet <br />
              consectetur adipisicing elit.
            </p>
          </div>
        </div>
        <div class="contact-right">
          <img src="./img/006-like.png" alt="" />
          <div class="right">
            <a href="">Escribe</a>
            <p>
              Texto de intro. Lorem ipsum dolor sit amet <br />
              consectetur adipisicing elit.
            </p>
          </div>
        </div>
      </section>
    </main>
    <!---footer--->
    {{> footer}}
  </body>
</html>
