<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mi Blog</title>
    <link rel="stylesheet" href="./css/main.css">
    <link rel="stylesheet" href="./css/font/flaticon.css">
    <link rel="stylesheet" href="./css/media-queries.css">
  </head>
  <body>
    <header>
      <section class="header-icons-container">
        <!---iconos de redes sociales--->
            {{> iconos}}
      </section>
      <nav>
        <section class="nav-logo-container">
          <!--- nav--->
            {{> Nav}}
        </section>
      </nav>
    </header>

    <main>
      <section class="profile-main-container">
        <div class="grid-container profile-container">
          <div>
            <img src="./img/foto-blog-1.jpeg" alt="" />
          </div>
          <div>
            <h2>Hola!</h2>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque, eos. Sed quis aut eaque enim magni! Officia, amet eaque
              veritatis ea nulla, a doloremque suscipit dolorum molestiae magnam voluptate accusantium. Lorem ipsum dolor sit amet
              consectetur adipisicing elit. Neque, eos. Sed quis aut eaque enim magni! Officia, amet eaque veritatis ea nulla, a doloremque
              suscipit dolorum molestiae magnam voluptate accusantium.
            </p>
          </div>
        </div>
      </section>
      <section class="profile-main-proyects">
        <div class="grid-container">
          <h3>Proyectos</h3>
          <div class="proyects-main-container">
            <article class="proyects-container">
              <h4>Texto</h4>
              <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iusto ipsum obcaecati facilis, dicta commodi ipsam possimus
                assumenda ab inventore quidem doloremque expedita dolores ullam sit dignissimos consequatur, molestias debitis illo?
              </p>
              <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iusto ipsum obcaecati facilis, dicta commodi ipsam possimus.
              </p>
            </article>
            <article class="proyects-container">
              <h4>Texto</h4>
              <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iusto ipsum obcaecati facilis, dicta commodi ipsam possimus
                assumenda ab inventore quidem doloremque expedita dolores ullam sit dignissimos consequatur, molestias debitis illo?
              </p>
              <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iusto ipsum obcaecati facilis, dicta commodi ipsam possimus.
              </p>
            </article>
            <article class="proyects-container">
              <h4>Texto</h4>
              <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iusto ipsum obcaecati facilis, dicta commodi ipsam possimus
                assumenda ab inventore quidem doloremque expedita dolores ullam sit dignissimos consequatur, molestias debitis illo?
              </p>
              <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iusto ipsum obcaecati facilis, dicta commodi ipsam possimus.
              </p>
            </article>
          </div>
        </div>
      </section>

      <section class="contact-main-container">
        <div class="contact-left">
          <img src="./img/013-newsletter.png" alt="" />
          <div class="left">
            <a href="">Contacto</a>
            <p>
              Texto de intro. Lorem ipsum dolor sit amet <br />
              consectetur adipisicing elit.
            </p>
          </div>
        </div>
        <div class="contact-right">
          <img src="./img/006-like.png" alt="" />
          <div class="right">
            <a href="">Escribe</a>
            <p>
              Texto de intro. Lorem ipsum dolor sit amet <br />
              consectetur adipisicing elit.
            </p>
          </div>
        </div>
      </section>
    </main>
    <!---footer--->
    {{> footer}}
  </body>
</html>
